article {
  font: Verdana, Helvetica, Arial, sans-serif;
}
article * {
  font-size: 95%;
}
article pre {
  font-size: 120%;
}
article.preview {
  margin-bottom: 1.5em;
}
article.preview > header {
  font: 1.3em Helvetica, Arial, sans-serif;;
  margin-bottom: 0.5em;
}
article.preview > header time {
  margin-right: 0.5em;
}
article section.excerpt {
  font-size: 80%;
  padding-left: 5em;
}
.post > header h1 {
  font: 2em Helvetica, Arial, sans-serif;
  margin: 1em 0 0.3em 0;
}
.post > header p {
  font-size: 0.85em;
  text-align: right;
}
ul.tags:before {
  content: "Tags: ";
  font-weight: bolder;
}
ul.tags {
  background-color: whiteSmoke;
  border-radius: 5px;
  font-size: 0.85em;
  list-style-type: none;
  padding: 2px 2em;
}
ul.tags li {
  background-color: #FFF;
  border: #E5E5E5 1px solid;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.2em;
  padding: 1px 5px;
}
ul.tags a {
  color: #7F1D1D;
  font-weight: bold;
  text-decoration: none;
}