<div itemprop="author" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="{{ site.author.name }}" />
    <meta itemprop="email" content="{{ site.author.email }}" />
    <meta itemprop="description" content="{{ site.author.bio }}" />
    <meta itemprop="image" content="{{ site.author.image }}" />
</div>

<div itemprop="publisher" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="{{ site.author.name }}" />
    <meta itemprop="email" content="{{ site.author.email }}" />
    <meta itemprop="description" content="{{ site.author.bio }}" />
    <meta itemprop="image" content="{{ site.author.image }}" />
</div>
