---
layout: base
---
<main>
    {% if site.tags.featured %}
        <section class="featured">
            <h5><span>Featured</span></h5>

          {% for post in site.tags.featured %}
              {% include post/preview.html %}
          {% endfor %}
        </section>
    {% endif %}

    <section>
        {% if site.tags.featured %}
            <h5><span>Regular</span></h5>
        {% endif %}

        {% for post in site.posts limit:5 %}
              {% include post/preview.html %}
          {% endfor %}
    </section>
</main>

<nav class="bottom-closer">
    <a href="{{ "/archive.html" | prepend: site.baseurl }}">Find more posts in the archive.</a>
</nav>
