.noarticleimage
    margin-bottom: 70px

.content
    max-width: 960px

.logo-readium 
    .logo
        left: 2px
        height: 44px
        top: 2px
        width: 44px

.post
    .article-image
        .post-meta
            left: 20%
            right: 20%
