<header class="blog-header">
    {% if site.author.image %}
        <a class="blog-logo" href="{{ site.url }}" style="background-image: url('{{ site.author.image }}')">{{ site.title }}</a>
    {% endif %}

    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>

    <div class="custom-links">
        {% for social in site.author.social %}
            {% if social.url %}
                <a class="icon-{{ social.icon }}" href="{{ social.url }}"><i class="fa fa-{{ social.icon }}"></i></a>
                {% if false == forloop.last %}&nbsp;&nbsp;·&nbsp;&nbsp;{% endif %}
            {% endif %}
        {% endfor %}
    </div>
</header>
