$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;

$font-family-base: $font-family-serif;

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-semibold: 600;

$body-color: #333;
$body-bg: #fefefe;
$link-color: #0288d1;
