* {
  font-size: 100%;
  line-height: 1.3em;
}
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 2em 0;
  width: 100%;
}
address {
    font-style: normal;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 10px 0px;
    width: 250px;
}
address > span,
address a,
address span.street-address,
address span.country-name {
    display: block;
}
a {
  color: #04C;
}
a:hover {
  color: #37F;
}
figcaption {
  font-size: 0.8em;
  text-align: center;
}
p {
  margin-bottom: 0.8em;
}
li {
  padding-left: 1em;
}
/* HTML5 backwards compatibility */
header, section, footer, aside, nav, article {  
  display: block;
}
body > header {
  background: #333;
  margin-bottom: 1em;
  padding: 0 1em;
}
body > header h1 {
  color: #FFF;
  font: 1.8em Tahoma, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 15px 0 5px 0;
}
body > header p {
  font-family: 'Jura';
  color: #DDD;
  letter-spacing: 0.3em;
  margin: 0.2em 0 1em 0;
  padding-left: 2.5em;
}
body > header nav {
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 2.5em;
}
body > header nav a {
  background-color: #526A74;
  color: #FFF;
  display: inline-block;
  letter-spacing: 0.1em;
  margin-right: 0.4em;
  padding: 2px 10px;
  text-decoration: none;
}
body > header nav a.active,
body > header nav a:hover {
  background-color: #FFF;
  color: #444;
}
body > section,
body > aside {
  float: left;
  margin: 0 0 10px 0;
  padding: 5px 15px;
  width: 70%;
}
body > aside {
  width: auto;
}
body > footer {
  background: url('/images/github-footer-logo.svg') 10px 5px no-repeat;
  border-top: #DDD 1px solid;
  clear: both;
  display: block;
  height: 50px;
  margin: 0.2em 0 0 0;
  padding: 5px 10px;
  text-align: right;
}
body > footer ul li {
  background-color: #EEF;
  border: #DEDEDE 1px solid;
  border-radius: 5px;
  color: #888;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 0.4em;
  padding: 2px 10px;
}
body > footer a {
  color: #555;
}
body > footer p {
  color: #888;
  font-size: 0.8em;
  margin: 5px;
}

article.site > header h1 {
  border-bottom: #DDD 1px solid;
  font: 2em Helvetica, Arial, sans-serif;
  margin: 1em 0 0.3em 0;
}

tt, code, kbd, samp, code * {
  font-family: monospace;
}

.highlight {
  background-color: #222;
  border-radius: 10px;
  margin-bottom: 0.8em;
  padding: 5px;
}
.highlight pre {
  margin: 0;
  white-space: pre-wrap !Important;
}
.markdown pre {
  margin-bottom: 0 !important;
}
