article {
  font: Verdana, Helvetica, Arial, sans-serif;
}
article * {
  font-size: 95%;
}
article pre {
  font-size: 120%;
}
article.preview {
  margin-bottom: 1.5em;
}
article.preview > header {
  font: 1.3em Helvetica, Arial, sans-serif;;
  margin-bottom: 0.5em;
}
article.preview > header time {
  margin-right: 0.5em;
}
article section.excerpt {
  font-size: 80%;
  padding-left: 5em;
}
.post > header h1 {
  border-bottom: #DDD 1px solid;
  font: 2em Helvetica, Arial, sans-serif;
  margin: 1em 0 0.3em 0;
}
.post > header p {
  font-size: 0.85em;
  text-align: right;
}
.post > footer section {
  background-color: whiteSmoke;
  border-radius: 5px;
  font-size: 0.85em;
  margin-bottom: 1em;
  padding: 2px 2em;
}
.post > footer h1  {
  display: inline-block;
  float: left;
  font-weight: bolder;
  padding: 2px;
}
.post > footer h1:after {
  content: ": ";
  margin-right: 1em;
}
.post > footer ul {
  list-style-type: none;
}
.post > footer ul li {
  background-color: #FFF;
  border: #E5E5E5 1px solid;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.2em;
  padding: 1px 5px;
}
.post > footer ul a {
  color: #7F1D1D;
  font-weight: bold;
  text-decoration: none;
}
section.comments {
  border-top: #DDD 1px solid;
  margin: 2em 0;
}
