/* iPhone like displays */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Layout adjustments */
    body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
    body > header {
        margin-bottom: 0.3em;
        padding: 0;
    }
    body > header h1 {
        padding: 7px 0px 2px 7px;
    }
    body > header p {
        letter-spacing: 0.1em;
        margin: 0.1em 0 0.3em 0;
    }
    body > header nav {
        padding: 0;
    }
    body > header nav a {
        display: block;
        margin-right: 0;
        padding: 5px 10px;
    }
    body > section {
        padding: 0.2em 0.5em;
    }
    body > footer {
        padding: 3px 0;
    }
    body > footer > ul li {
        display: block;
        font-size: 0.9em;
        margin: 0 0 5px 145px;
        width: 155px;
    }
    body > footer > p {
        font-size: 0.9em;
        margin: 5px 0 0 0;
        padding: 10px 0;
        text-align: center;
    }

    /* Preview adjustments */
    article.preview {
        border-bottom: #DDD 1px solid;
    }
    body > article.preview:last-of-type {
        border-bottom: none;
    }
    article.preview > header time {
        display: none;
    }
    article.preview section.excerpt {
        font-size: 100%;
        padding-left: 0;
    }
}
