aside {
  border-left: #AAA 1px solid;
}
aside > section h1 {
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
}
#profile img {
  background: transparent url(/images/profile_photo_frame.jpg) no-repeat top left;
  border: none;
  padding: 10px;
}
#socialnetworks {
}
#socialnetworks li {
  display: inline-block;
  margin: 0.1em;
}