<head>
    <meta charset="utf-8">

    <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="xing:author" content="https://www.xing.com/profile/Toni_Uebernickel" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{ site.title }}" />

    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <link rel="stylesheet" type="text/css" href="{{ "/css/font.css"  | prepend: site.baseurl  }}" />
    <link rel="stylesheet" type="text/css" href="{{ "/css/main.css"  | prepend: site.baseurl  }}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    {% if nil == page.id %}
        <link rel="prefetch" href="{{ site.posts.first.url }}" />
    {% endif %}
    {% if page.previous %}
        <link rel="prev" href="{{ page.previous.url }}" />
    {% endif %}
    {% if page.next %}
        <link rel="next prefetch" href="{{ page.next.url }}" />
    {% endif %}
</head>
