{% assign author = site.author.name %}
{% if post.author %}
    {% assign author = post.author %}
{% endif %}

<article class="post post-excerpt" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    <header>
        <h1 itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>
        <span>{{ author }}{% if post.date %} <time datetime="{{ page.date | date: "%F %R" }}">on {{ post.date | date_to_string }}</time>{% endif %}</span>
    </header>

    <section itemprop="description">
        {{ post.content | strip_html | truncatewords: 50 }}
    </section>

    {% include meta/site_author.html %}
</article>
