<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% if page.title %}{{ page.title }} on {% endif %}{{ site.title }}</title>
        <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }}" />
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" href="/stylesheet.css" />
        <script>
          (function() {
              var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
              s.type = 'text/javascript';
              s.async = true;
              s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
              t.parentNode.insertBefore(s, t);
          })();
        </script>
        <script src="https://apis.google.com/js/plusone.js"></script>
    </head>
    <body>
      {% include header.html %}

      <section>
        {{ content }}
      </section>

      {% include footer.html %}

      <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.googleanalytics.account }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    </body>
</html>
