<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% if page.title %}{{ page.title }} on {% endif %}havvg's playground</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" href="/css/font.jura.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <link rel="stylesheet" href="/css/markdown.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/post.css" />
    </head>
    <body>
      {% include header.html %}

      <section>
        {{ content }}
      </section>

      {% include sidebar.html %}

      {% include footer.html %}
    </body>
</html>
