---
layout: base
---

{% for post in site.posts %}
  {% if post.url == page.url %}
    {% assign current = post %}
  {% endif %}
{% endfor %}

<article class="post">
  <header>
    <h1>{{ current.title }}</h1>
    <p>published on <time>{{ current.date | date: "%d %B %Y" }}</time></p>
  </header>

  <section class="markdown">
    {{ content }}
  </section>

  {% if current.tags %}
    <footer>
    <ul class="tags">
    {% for tag in current.tags %}
      <li><a href="/">{{ tag }}</a></li>
    {% endfor %}
    </ul>
    </footer>
  {% endif %}
</article>