<!DOCTYPE html>
<html>
    {% include layout/head.html %}

    <body itemscope itemtype="http://schema.org/BlogPosting">
        {% include layout/header.html %}

        <main class="content" role="main">
            <article class="post">
                {% include post/header.html %}

                <section class="post-content">
                    <a name="topofpage"></a>
                    <div itemprop="articleBody">{{ content }}</div>
                </section>

                <nav class="bottom-teaser pagination cf" role="navigation">
                    {% if page.previous %}
                        <div class="isLeft">
                            <h5 class="index-headline"><span>Previous post</span></h5>
                            <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
                        </div>
                    {% endif %}
                    {% if page.next %}
                        <div class="isRight">
                            <h5 class="index-headline"><span>Next post</span></h5>
                            <a href="{{ page.next.url }}">{{ page.next.title }}</a>
                        </div>
                    {% endif %}
                </nav>

                <footer class="post-footer">
                    {% include post/comments.html %}
                </footer>

                <div class="bottom-teaser cf">
                    <div class="isLeft">
                        <h5 class="index-headline featured"><span>Written by</span></h5>
                        <section class="author">
                            <div class="author-image" style="background-image: url({{ site.author.image }})">Blog Logo</div>
                            <h4>{{ site.author.name }}</h4>
                            <p class="bio">{{ site.author.bio }}</p>
                            <hr>
                            <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
                        </section>
                    </div>
                    <div class="isRight">
                        <h5 class="index-headline featured"><span>Support &amp; Share</span></h5>
                        <footer class="site-footer">
                            <a class="subscribe" href="{{ "/atom.xml" | prepend: site.baseurl }}"><span class="tooltip"><i class="fa fa-rss"></i> You should subscribe to my feed!</span></a>
                            <div class="inner">
                                <section class="copyright">All content copyright <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.</section>
                            </div>
                            <br>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="havvg">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </footer>
                    </div>
                </div>
            </article>
        </main>

        {% include meta/page.html %}
        {% include meta/site_author.html %}

        {% include site/bottom_closer.html %}
        {% include site/footer.html %}

        {% include layout/javascripts.html %}
    </body>
</html>
