<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/Blog">
    {% include layout/head.html %}

    <body class="post" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
        {% include site/header.html %}

        <main itemprop="mainEntityOfPage">
            <article class="post">
                {% include post/header.html %}

                <section itemprop="articleBody">
                    {{ content }}
                </section>

                <nav>
                    {% if page.previous %}
                        <section>
                            <h5>Previous post</h5>
                            <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
                        </section>
                    {% endif %}

                    {% if page.next %}
                        <section>
                            <h5>Next post</h5>
                            <a href="{{ page.next.url }}">{{ page.next.title }}</a>
                        </section>
                    {% endif %}
                </nav>

                {% include post/comments.html %}

                <footer>
                    <section>
                        <h5>Written by</h5>
                        <div class="author">
                            <span class="author-image" style="background-image: url({{ site.author.image }})"></span>
                            <h4>{{ site.author.name }}</h4>
                            <p class="bio">{{ site.author.bio }}</p>
                        </div>
                    </section>

                    <section>
                        <h5>Support &amp; Share</h5>

                        <a href="{{ "/atom.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i> You should subscribe to my feed!</a>

                        <div>
                            <span>All content copyright</span>
                            <span><a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a></span>
                            <span>&copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.</span>
                        </div>

                        <div>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="havvg">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </div>
                    </section>
                </footer>

                {% include meta/page.html %}
                {% include meta/site_author.html %}
            </article>
        </main>

        {% include site/bottom_closer.html %}
        {% include site/footer.html %}

        {% include layout/javascripts.html %}
    </body>
</html>
